@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

body {
  background-image: url('./assets/background.png'); /* Adjust the path if necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh; /* Ensures the background spans the entire viewport height */
}

#root {
  height: 100%;
}
